<header></header>
<div class="jumbotron align-content-center h-100">
  <div class="container text-center">
    <h1 class="display-4">{{ title }}</h1><br/>
    <p><br/>Please, type the name of your favourite hero. Remember, you're in Marvel's universum.<br/></p>
    <div class="input-group input-group-lg col-md-6 offset-md-3">
      <input type="text"
             (keyup.enter)="onSubmit()"
             [(ngModel)]="heroName"
             class="form-control"
             name="heroName"
             id="heroName"
             aria-describedby="heroNameHelp"
             placeholder="Type Hero's name">
      <div class="input-group-append">
        <button class="btn btn-primary btn-lg btn-group" type="button" (click)="onSubmit()" id="basic-addon2">FIND</button>
      </div>
    </div>
    <small id="heroNameHelp" class="form-text text-muted">
      <br/>You can check available heroes
      <a href="http://superheroapi.com/ids.html" target="_blank" title="Go to SuperHeroes API">here.</a>
    </small>
  </div>
</div>

<section *ngIf="selected_hero" class="selected-hero pt-5 pb-5 mb-5">
  <div class="container">
    <app-hero-profile [hero]="selected_hero"></app-hero-profile>
  </div>
</section>

<div *ngIf="heroes" class="container content container-fluid mt-5">
  <div class="row justify-content-center">
    <app-hero-suggestion
            class="col-md-4"
            *ngFor="let hero of heroes; let i = index"
            (click)="selectHero(i)"
            [hero]="hero">
    </app-hero-suggestion>
  </div>
</div>



<footer>
  <div class="container text-right">
    <a href="http://marvel.com">Data provided by Marvel. © 2018 MARVEL</a>
  </div>
</footer>
