<div class="row pt-5 pb-5">
    <div class="col-md-6">
        <h1>{{ hero.name }}</h1>
        <p>{{ hero.description }}</p>
        <div class="row hero-comics" *ngIf="comics">
            <div class="col-3 mb-4" *ngFor="let comic of comics">
                <div class="card">
                    <img class="card-img-top"
                         alt="{{ hero.name }}"
                         title="{{ hero.name }}"
                         src="{{ comic.thumbnail.path+'.'+comic.thumbnail.extension }}">

                    <div class="card-footer">
                        <h5 class="card-title">{{ comic.title }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" *ngIf="can_load" class="btn btn-primary btn-lg" (click)="getComic()">
            SHOW COMICS
        </button>
    </div>
    <div class="col-md-6 position-sticky">
        <img *ngIf="hero.thumbnail" class="img-fluid" title="{{ hero.name }}" src="{{ hero.thumbnail.path+'.'+hero.thumbnail.extension }}"/>
    </div>
</div>