<div class="card mb-4 hero-card">

  <img class="card-img-top"
       alt="{{ hero.name }}"
       title="{{ hero.name }}"
       src="{{ hero.thumbnail }}">

  <div class="card-body">
    <h5 class="card-title">{{ hero.name }}</h5>
  </div>

</div>