@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,800');
@import 'styles-variables';

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

body {
    height: 100%;
}

.jumbotron {
    margin-bottom: 0;
}

p.card-text {
    font-weight: 300;
}

footer {
    font-size: 14px;
    font-weight: 500;
}

.hero-card {
    box-shadow: 0 5px 12px 2px rgba(black,0.05);
    transition: 0.3s ease-in;
    &:hover {
        cursor: pointer;
        box-shadow: 0 10px 12px 2px rgba(blue,0.12);
    }
}

section.selected-hero {
    background-color: $dark;
    color: white;
    min-height: 50vh;
    .card-title {
        color: $dark;
        font-size: 12px;
        font-weight: 300;
    }
}